Notice:
Our virus filters have detected a virus in an email send from you.
The mail has been deleted due to self protection reasons and was
not delivered to the recipient mentioned below.

Identified virus: 
%%virus%%

Recipient:
%%to%%

Sender (you):
%%from%%

Original Subject:
%%subject%%

--

Please do not reply to this message.
