Notice:
Our virus filters have detected a virus in an email being send to you.
The mail has been deleted due to self protection reasons.

Identified virus: 
%%virus%%

Recipient (you):
%%to%%

Sender:
%%from%%

Original Subject:
%%subject%%

--

Please do not reply to this message.
